* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font-family: 'Palanquin', sans-serif;
 */

:root {
  font-size: 62.5%;

  --bg-primary: #eff1ff;
  --bg-header: #8e9aaf;
  --bg-card-span: #feeafa;
}

body {
  font-family: 'Staatliches', cursive;
  background: var(--bg-primary);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem 0;
  gap: 3.2rem;
  background: var(--bg-header);
}

header img {
  width: 13.7rem;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

header h1 {
  background: #cbc0d3;
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  width: 100%;
  text-align: center;
  font-size: 4rem;
  line-height: 3.4rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  padding: 0.8rem 0;
}

main {
  max-width: clamp(32rem, 30rem + 40vw, 70rem);
  margin: 0 auto;
  padding: 0 3.2rem;
}

main p {
  font-family: 'Palanquin';
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.1rem;

  text-align: center;
  margin: 1.4rem 0 6rem 0;
  color: #23053a;
}

.cards {
  display: grid;
  gap: 3.2rem;
}

.card {
  position: relative;
}

.card img {
  width: 100%;
  border-radius: 2rem;
}

.card span {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  font-size: 2rem;
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  color: #4a4e69;
  background: #feeafa;
  padding: 0 2.3rem;
  border-radius: 2rem;
}
